// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-name: 'sp';
$sp-x: 0px;
$sp-y: 0px;
$sp-offset-x: 0px;
$sp-offset-y: 0px;
$sp-width: 557px;
$sp-height: 270px;
$sp-total-width: 1118px;
$sp-total-height: 637px;
$sp-image: '/images/sprite.png';
$sp: (0px, 0px, 0px, 0px, 557px, 270px, 1118px, 637px, '/images/sprite.png', 'sp', );
$sp2-name: 'sp2';
$sp2-x: 557px;
$sp2-y: 0px;
$sp2-offset-x: -557px;
$sp2-offset-y: 0px;
$sp2-width: 561px;
$sp2-height: 637px;
$sp2-total-width: 1118px;
$sp2-total-height: 637px;
$sp2-image: '/images/sprite.png';
$sp2: (557px, 0px, -557px, 0px, 561px, 637px, 1118px, 637px, '/images/sprite.png', 'sp2', );
$spritesheet-width: 1118px;
$spritesheet-height: 637px;
$spritesheet-image: '/images/sprite.png';
$spritesheet-sprites: ($sp, $sp2, );
$spritesheet: (1118px, 637px, '/images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
